body {
	overflow-x:hidden;	
	font-family: 'Roboto', sans-serif;
}

.has-img > img{
	width: 71%;
	margin-left: auto;
    margin-right: auto;
    display: block;
}

.view-row {
	border-bottom: 1px solid #E0DEDF;	
	padding: 42px;
}

a.navbar-brand img{
	height: 130px;
}

.navbar-brand {
	padding: 0 !important;
}

.navbar-default {
	background-color: #ffffff !important;
	padding: 11px;
	height: 150px;
    box-shadow: 0px 2px 30px 0px rgba(0,0,0,0.6);
	border-bottom: 2px solid #0ea34a !important;
}

.navbar-nav {
	position: absolute;
    bottom: 0px;
    right: 0px;
}

#main-banner h3{
	margin-top: 42px;
}

#main {
	margin-top: 150px;
}

.footer {
	padding-top: 42px;
	padding-bottom: 11px;
	background-color: #0fa34b;

}

.footer-item {
	display: inline-block;
	padding: 11px;
	color: #fbfbfb !important;
}

.footer-item a {
	color: #fbfbfb !important;
}

.map-embed {
	margin-right: 42px;
	margin-bottom: 42px;
}

.navbar-default .navbar-nav>li>a {
	font-weight: 700;
	text-transform: uppercase;
	display: block;
    padding: 20px;
    color: #7C7C7C;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    font-size: 1.2em;

}

#home-main {
	background-image: url('../images/redcar.jpg');
	background-size:cover;
	height:100vh;
}                        

.home-heading {
	position: fixed !important;
}

.home-heading h3{
	padding: 21px;
	background-color: rgba(15, 162, 77, 0.4);
    font-weight: 900;
    font-style: normal;
    color: #ebf5ef;
    text-shadow: 1px 1px #000000;
}

#home-bkg-img {100100%%
	width: 200px;
	height: 200px;
}

.jumbotron p {
	padding-left: 42px;
	padding-right: 42px;
}

.dropdown-menu {
	width: 260px !important;
}

.dropdown-menu li {
	padding: 7px;
	font-weight: bold;
}

.dropdown-menu li:hover {
	background-color: #0ea34a;
	cursor: pointer;
	color: #fefefe;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #fefefe !important;
    background-color: #2e3192 !important;
}

.navbar-nav active {
    color: #fefefe !important;
    background-color: #2e3192 !important;
}

.navbar-default .navbar-nav>li>a:hover {
    background-color: #b3e2c2 !important;
}

.navbar-default .navbar-nav>li>a:active {
    color: #fefefe !important;
    background-color: #2e3192 !important;
}